:root {
    scroll-behavior: smooth;
    font-size: 100%;
    --tt-up-subt: uppercase;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
mark,
pre,
code {
    font: inherit;
}

mark {
    background-color: transparent;
}

picture,
img,
video,
iframe {
    display: block;
    max-width: 100%;
    width: 100%;
    height: initial;
}

svg {
    display: block;
    width: initial;
    height: initial;
    fill: currentColor;
}
body{
    font-family: 'jogan_softregular', sans-serif;
}

form,
input,
select,
option,
textarea,
label,
fieldset,
legend,
button {
    display: block;
    font: inherit;
    background-color: initial;
}

fieldset {
    border: none;
}

button,
label {
    cursor: pointer;
}

/* agrego overflow hidden para que no se pueda hacer ni scroll vertical ni horizontal, solo quiero que se vea en la misma ventana */
.Prehome {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
}

.Prehome.isActive {
    display: none;
}

/* cuando el prehome este activo, home desaparece */
.Home {
    display: none;
}

/* cuando se activa home, prehome desaparece */
.Home.isActive {
    display: block;
}


/* agrego un fondo en imagen para que se vea en la ventana completa y cover para que se adapte a ella */
.Prehome-back {
    width: 100%;
    min-height: 100vh;
    background-image: url('/assets/letras/fondoopt.jpg');
    background-size: cover;
    background-position: center center;
}

/* quiero que el boton este por encima del fondo y las letras siempre */
.Prehome-button {
    width: 50%;
    min-height: 10vh;
    position: absolute;
    bottom: 35vh;
    z-index: 1;

    font-family: 'mckloud_blackregular';
    color: white;
    text-transform: var(--tt-up-subt);
    font-size: 2.8rem;

    opacity: 0;
    transform: translateY(-15%);
    transition: opacity 1.5s ease-out,
        transform 1.5s ease-out;
}

.Prehome-button.isActive {
    opacity: 1;
    transform: translateY(0);
}

.Prehome-button:hover {
    transform: scale(1.2)
}

.Prehome-group {
    width: 100%;
    min-height: 100vh;
    position: absolute;

}

/* para cuadrar las letras en responsive y que se muevan independientemente con el mouse, cree una etiqueta para cada una */
.Prehome-letras {
    width: 15%;
    min-height: 10vh;
    position: absolute;

    color: greenyellow;

    transition: transform 0.5s ease-out;
    pointer-events: none;
}

.Prehome-letras.m {
    top: 0vh;
    left: 0vw;
}

/* quito el transition en algunas letras para generar 2 velocidades en las letras */
.Prehome-letras.e {
    top: 30vh;
    left: 10vw;
    transition: none;

}

.Prehome-letras.l {
    top: 0vh;
    left: 25vw;
}

.Prehome-letras.i {
    top: 30vh;
    left: 35vw;
}

.Prehome-letras.s {
    top: 0vh;
    left: 50vw;
    transition: none;
}

.Prehome-letras.ss {
    top: 30vh;
    left: 60vw;
}

.Prehome-letras.a {
    top: 0vh;
    left: 75vw;
}

.Prehome-letras.sss {
    top: 30vh;
    right: 0vw;
    transition: none;
}

.Prehome-letras.w {
    bottom: 15vh;
    transition: none;
}

.Prehome-letras.o {
    bottom: 0vh;
    left: 20vw;
}

.Prehome-letras.r {
    bottom: 15vh;
    left: 45vw;
}

.Prehome-letras.ll {
    bottom: 0vh;
    left: 65vw;
    transition: none;
}

.Prehome-letras.d {
    bottom: 15vh;
    right: 0vw;
}

/* el header quiero que tenga la barra con la navegaci칩n pero tambien un espacio para una frase de bienvenida, por eso coloco la altura de la ventana completa */
.Header {
    width: 100%;
    min-height: 100vh;
}

/* mantener la barra siempre fija en la parte de abajo */
.Header-menu {
    width: 100%;
    min-height: 10vh;
    background-color: rgb(244, 50, 193);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;


    position: fixed;
    bottom: 0vh;

    z-index: 2;

}

.Header-sections {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin: 0 2rem 0 0;

    font-size: 1.5rem;
    color: #adff2f;
}

.Header-section {
    transition: color 1s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.Header-section:hover {
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

/* uso de grid para ubicar cada palabra donde quiero, con flex se me desubican si agrando o achico la pantalla  */
/* agrego una altura grande para que la ventana suba solo hasta que el ultimo elemento flotante suba completamente */
.Header-welcome {
    width: 100%;
    min-height: 400vh;
    background: linear-gradient(to bottom, #57fe7b, #adff2f, #d4ff94);
    color: rgb(244, 50, 193);

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
}

/* solo 90vh de altura para que la barra de menu no tape la info de sticky */
.Header-sticky {
    width: 100%;
    min-height: 90vh;


    position: sticky;
    top: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: font-size 3s ease;
}

.Header-p {
    font-size: clamp(3rem, 8vw, 8vw);
    text-transform: var(--tt-up-subt);
    transition: font-size 2s ease;
}

.Header-p:hover {
    opacity: 1;
    font-size: clamp(4rem, 9vw, 9vw);
}

/* aqui ya defino en donde quiero ubicar cada p */
.Header-p.uno {
    grid-column: 1/3;
    grid-row: 1/2;
    place-self: center;
}

.Header-p.dos {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
}

.Header-p.tres {
    grid-column: 2/3;
    justify-self: center;
}

.Header-p.cuatro {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: end;
}

.Header-p.cinco {
    justify-self: center;
}

.Header-p.seis {
    justify-self: center;
}

.Header-p.siete {
    justify-self: center;
}

.Header-logo {
    width: 25vh;
}

/* cuadricula de elementos, uso areas para definir donde va cada uno */
/* el z index asignado es 1 porque quiero que este arriba de welcome pero abajo de la barra menu  */
.Header-wrapper {
    width: 100%;
    min-height: 200vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "uno nada1"
        "nada2 dos"
        "tres nada3"
        "nada4 cuatro"
    ;
    z-index: 1;

}

.uno {
    grid-area: uno;
    justify-self: end;
}

.dos {
    grid-area: dos;
}

.tres {
    grid-area: tres;
}

.cuatro {
    grid-area: cuatro;
    justify-self: start;
}

.Header-category {
    width: 60%;
}

.Main {
    width: 100%;
    min-height: 100vh;
    background-color: #d4ff94;

}

/* contenedora para centrar contenido */
/* grid que para ubicar la ifon en cuadricula */
.Main-wrapper {
    width: 90%;
    min-height: 90vh;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "uno dos tres"
        "nada1 nada2 nada3"
        "cuatro cinco seis";
}


.Main-video.cuatro {
    grid-area: cuatro;
}

.Main-video.cinco {
    grid-area: cinco;
}

.Main-video.seis {
    grid-area: seis;
}

.Main-marquesina {
    grid-column: span 3;
    white-space: nowrap;
    padding-left: 10rem;
    overflow: hidden;
}

.Main-about {
    font-size: 6rem;
    animation: animate 20s linear infinite;
    display: inline-block;
    color: rgb(244, 50, 193);
}

/* Animaci칩n de desplazamiento horizontal del texto */
@keyframes animate {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(-110%);
    }
}

/* dispongo los botones horizontalmente */
.Main-experience {
    width: 90%;
    min-height: 100vh;

    margin: auto;


    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: start;
    gap: 2rem;
}

/* los elementos de cada boton los ubico verticalmente */
.Main-acordeon {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    margin: 4rem 0 0 0;
}

/* a los botones les doy un aspecto diferente para jerarquia visual */
.Main-h3 {

    border-bottom: 1px solid transparent;

    font-family: 'mckloud_blackregular';
    color: rgb(244, 50, 193);
    font-size: 3rem;
    text-transform: var(--tt-up-subt);
    position: relative;
    transition: border-bottom 1s ease, font-size 1s ease;


}

/* uso ::after para crear una linea de bajo del texto h3  */
.Main-h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(244, 50, 193);
    transition: width 1s ease;
}

.Main-h3:hover {
    font-size: 3.2rem;
}

/* hago un efecto en hover con la linea, que vaya creciendo horizontalmente */

.Main-h3:hover::after {
    width: 100%;
}

/* para el contenido del acordeon, al principio no tiene altura y cuando esta activo se desprende con la altura */

.Main-h4 {
    height: 0;
    margin: 0;
    overflow: hidden;
    transition: height 2s ease-out;
}

.Main-h4.isActive {
    height: 70px;
    margin: 0;
}

.Main-p {

    height: 0;
    margin: 0;

    overflow: hidden;
    transition: height 2s ease-out, margin 2s ease-out;

}

.Main-p.isActive {
    width: 400px;
    height: 60px;
    margin: 0;
}

/* uso las etiquetas para darle una visual en css, ya que el texto usado no es variable */
strong {
    font-weight: 900;
    color: rgb(244, 50, 193);
    font-size: 1.5rem;
}

em {
    font-style: italic;
}

.Footer {
    width: 100%;
    min-height: 20vh;
    background-color: rgb(244, 50, 193);
    color: white;

}

.Footer-action {
    width: 90%;
    min-height: 25vh;
    margin: auto;
    padding: 2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;

}

.Footer-p {
    max-width: 80%;
    font-size: 1.8rem;
}

/* agrego relative porque el pseudo elemento tiene absolute */
.Footer-talk {
    position: relative;
    color: white;
    transition: color 1s ease, font-size 1s ease;

}

.Footer-talk:hover {
    color: #adff2f;
    font-size: 2.4rem;
}

.Footer-talk::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #adff2f;
    transition: width 1s ease;
}

.Footer-talk:hover::after {
    width: 100%;
}

.Footer-red {
    font-size: 2rem;
    transition: color 1s ease;
    position: relative;
}

.Footer-red:hover {
    color: #adff2f;
}

.Footer-red:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #adff2f;
    transition: width 1s ease;
}

.Footer-red:hover::after {
    width: 100%;
}

.Footer-logo {
    width: 100%;
    min-height: 25vh;
    margin: auto;
}

/* otra razon para colocar cada letra en svg era para que cuando sea pantallas m치s peque침as se pudiera reestructurar el orden */
/* los elementos que estaban horizontalmente pasan a vertical  */
@media (max-width:1024px) {


    .Prehome-letras.e {
        top: 15vh;
        left: 30vw;
    }

    .Prehome-letras.l {
        top: 0vh;
        left: 50vw;
    }

    .Prehome-letras.i {
        top: 10vh;
        left: 70vw;
    }

    .Prehome-letras.s {
        top: 25vh;
        left: 0vw;
    }

    .Prehome-letras.ss {
        top: 35vh;
        left: 32vw;
    }

    .Prehome-letras.a {
        top: 28vh;
        left: 65vw;
    }

    .Prehome-letras.sss {
        top: 45vh;
    }

    .Prehome-letras.w {
        bottom: 30vh;
        left: 10vw;
    }

    .Prehome-letras.o {
        bottom: 10vh;
        left: 0vw;
    }

    .Prehome-letras.r {
        bottom: 0vh;
        left: 30vw;
    }

    .Prehome-letras.ll {
        bottom: 20vh;
        left: 50vw;
    }

    .Prehome-letras.d {
        bottom: 5vh;
    }

    .Header-category {
        width: 100%;
    }

    .Main-experience {
        min-height: 100vh;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
    }

    .Main-acordeon {
        align-items: center;
    }

    .Main-p.isActive {
        text-align: center;
        height: 70px;
        margin: 0 1rem 0 0;
    }

    .Main-h3 {
        font-size: 2rem;
    }

    .Main-h3:hover {
        font-size: 2.3rem;
    }


    .Footer-action {
        flex-flow: column nowrap;
        gap: 2rem;
        text-align: center;
    }

    .Footer-p {
        max-width: 60%;
    }

}

@media (max-width:820px) {
    .Prehome-letras {
        width: 20%;
    }

    .Main-wrapper {
        min-height: 50vh;

    }

    .Main-acordeon {
        text-align: center;
    }

    .Main-about {
        font-size: 4rem;
    }

    .Main-p.isActive {
        width: 300px;
        height: 90px;
    }

    .Header-sections {
        gap: 1rem;
    }

}